html {
  font-size: 20px;
}

body{
    margin: 0 !important
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.rating-color {
    color: #fbc634 !important;
}

.center {
    width: 150px;
    margin: 40px auto;
}