html {
  font-size: 20px;
}

body{
  margin: 0 !important;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.rating-color {
    color: #fbc634 !important;
}

.center {
    width: 150px;
    margin: 40px auto;
}

.container-wrapper{
}

.container-wrapper > .container {

}

.rating-wrapper {
    align-self: center;
    border-radius: 5rem;
    display: inline-flex;
    direction: rtl !important;
    padding: 1.5rem 2.5rem;
    margin-left: auto;
}
label{
    color: #E1E6F6;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    padding: .5rem .3rem;
    transition: color 0.5s;
}

svg {
    -webkit-text-fill-color: transparent;
    -webkit-filter: drop-shadow (4px 1px 6px rgba(198, 206, 237, 1));
    filter: drop-shadow(5px 1px 3px rgba(198, 206, 237, 1));
}

input {
    height: 100%;
    width: 100%;
}

input {
    display: none;
}

    label:hover,
    label:hover ~ label,
    input:checked ~ label {
        color: #34AC9E;
    }

        label:hover,
        label:hover ~ label,
        input:checked ~ label {
            color: #34AC9E;
        }

.variant-radio {
    width: 20%;
    text-align: center;
}

.variant-radio:hover {
    background-color: blanchedalmond;
}

.variant-input::selection {
    background-color: aqua;
}

.labels{
    padding-right: 15px;
}