@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <h1>Sign Up</h1>
    <form>
        <div class="form-group">
            <label htmlFor="txtFullName">Full Name:</label>
            <input type="text"
                   class="form-control"
                   id="txtFullName"
                   placeholder="Full name" />
        </div>
        <div class="form-group">
            <label htmlFor="txtAddress">Address:</label>
            <input type="text"
                   class="form-control"
                   id="txtAddress"
                   placeholder="Address" />
        </div>
        <div class="form-group">
            <label htmlFor="txtPhoneNumber">Phone Number:</label>
            <input type="text"
                   class="form-control"
                   id="txtPhoneNumber"
                   placeholder="Phone Number" />
        </div>
        <div class="form-group">
            <label htmlFor="dtDateOfBirth">Date of Birth:</label>
            <input type="date"
                   class="form-control"
                   id="dtDateOfBirth" />
        </div>
        <div class="form-group">
            <label htmlFor="exampleInputEmail1">Email address</label>
            <input type="email"
                   class="form-control"
                   id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                   placeholder="Enter email" />
            <small id="emailHelp" class="form-text text-muted">
                We'll never share your email with anyone else.
            </small>
        </div>
        <div class="form-group">
            <label htmlFor="exampleInputPassword1">Password</label>
            <input type="password"
                   class="form-control"
                   id="exampleInputPassword1"
                   placeholder="Password" />
        </div>
        <div class="form-group">
            <label htmlFor="exampleInputPassword1">Re-enter Password</label>
            <input type="password"
                   class="form-control"
                   id="exampleInputPassword1"
                   placeholder="Password" />
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                Register
            </button>
        </div>
    </form>
</div>