@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container-fluid mt-5 m-5" style="width: auto">
    <div class="row">
        <div class="col-7">
            
                <img src="/img/slide-1.jpg" style="width: inherit; object-fit: contain"/>
            <hr/>
            <p>Description</p>
        </div>
        <div class="col">
            <div class="d-block">
                <h2>Product Name</h2>
                <h3 class="text-right">Product price</h3>

                <div class="my-4">
                    <input type="number" class="form-control"/>
                </div>
                <div class="d-grid gap-3">
                    <button class="btn btn-primary btn-lg btn-block">Add to Cart</button>
                    <button class="btn btn-primary btn-lg btn-block">Buy now</button>
                </div>
            </div>
        </div>
    </div>
</div>