@model List<Rookies_EcommerceWebsite.Customer.Models.Product>
    
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid d-flex mt-5">
    <div class="col-3">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                            Filter
                        </button>
                    </h5>
                </div>
                <div id="collapseOne"
                     class="collapse show"
                     aria-labelledby="headingOne"
                     data-parent="#accordionExample">
                    <div class="text-center">
                        <h4>Color</h4>
                        <div class="list-group text-start">
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Xanh
                            </label>
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Đỏ
                            </label>
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Tím
                            </label>
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Vàng
                            </label>
                            <label class="list-group-item">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Hồng
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col d-grid">
        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            @foreach(Product item in Model)
            {
                <div class="col mb-4">
                    <div class="card">
                            <img src="@item.Images[0]" class="card-img-top img-thumbnail" />
                            <div class="card-body">
                            <h5 class="card-title text-truncate">@item.Name</h5>
                                <p class="card-text">
                                    @item.Price.Value.ToString("n0")đ
                                </p>
                            <a href="/Product/Detail/@item.Slug" class="stretched-link"></a>
                            </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
